{% extends 'layout.html' %}

{% block css %}
.glyphicon {
line-height:1.45;
}

.ulleft{
margin-left:100px;
margin-top:0;
}
{% endblock %}

{% block content %}
<div class="container clearfix">

    <div style="margin-bottom:15px;display:inline-block;">
        <input type="button" value="添加商品" class="btn btn-success" id="btnAdd">
    </div>

    <div style="margin-bottom:10px;display:inline-block;float:right;" class="clearfix">
        <div class="col-lg-6" style="float:right;width:300px;">
            <form method="get">
                <div class="input-group">
                    <input type="text" name="search" value="{{search_data}}" class="form-control" placeholder="输入商品名称进行搜索">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
                </span>
                </div>
            </form>
        </div>   <!--搜索框-->
    </div>

</div>
<div class="container">    <!--表单区-->



    <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 商品列表</div>
        <!--表单的标题-->
        <!--<div class="panel-body"></div>此标签为表单的内容部分-->
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>商品名称</th>
                <th>价格(元)</th>
                <th>库存数量</th>
                <th>单位</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in queryset %}
            <tr>
                <th scope="row">{{obj.id}}</th>
                <td>{{obj.title}}</td>
                <td>{{obj.price}}</td>
                <td>{{obj.num}}</td>
                <td>{{obj.unit}}</td>
                <td>
                    <input uid="{{ obj.id }}" class="btn btn-primary btn-xs btn-edit" type="button" value="编辑">
                    <input uid="{{ obj.id }}" class="btn btn-danger btn-xs btn-delete" type="button" value="删除">
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>  <!--表格-->
    </div>  <!--订单列表-->
</div>
<div class="container">
    <ul class="pagination">
        {{ page_string }}
    </ul>
</div>

<!-- 新建/编辑 商品对话框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">新建订单</h4>
            </div>
            <div class="modal-body">  <!--模态框内容-->
                <form id="formAdd">
                    <div class="clearfix">
                        {% for field in form %}
                        <div class="col-xs-6">
                            <div class="form-group" style="position: relative;margin-bottom: 20px;">
                                <label>{{ field.label }}</label>
                                {{ field }}
                                <span class="error-msg" style="color: red;position: absolute;"></span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button id="btnSave" type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- 删除商品对话框 -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">

        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
            <h4>确定要删除这件商品吗</h4>
            <p style="margin: 10px 0;">商品数据删除后将不可恢复！</p>
            <p style="text-align: right;">
                <button type="button" id="btnConfirmDelete" class="btn btn-danger">确 定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
            </p>
        </div>

    </div>
</div>

{% endblock %}



{% block js %}
<script type="text/javascript">
    // 定义全局变量
    var DELETE_ID;
    var EDIT_ID;

    $(function () {
        bindBtnAddEvent();
        bindBtnSaveEvent();
        bindBtnDeleteEvent();
        bindBtnConfirmDeleteEvent();    //点击对话框中的确定按钮确认删除
        bindBtnEditEvent();
    })

    function bindBtnAddEvent() {
        $("#btnAdd").click(function () {
            // 每次点击都清空标签上的错误信息
            $(".error-msg").empty();

            // 将正在编辑的ID设置为空
            EDIT_ID = undefined;

            // 清空对话框中的数据
            $("#formAdd")[0].reset();

            // 设置对话框的标题
            $("#myModalLabel").text("添加");

            // 点击新建按钮，显示对话框。
            $('#myModal').modal('show');
        });
    }

    function bindBtnSaveEvent() {
        $("#btnSave").click(function () {

            $(".error-msg").empty();
            // 每次点击都清空标签上的错误信息
            // 在点击保存按钮时，根据EDIT_ID判断对话框中save按钮应该执行新建还是编辑
            if (EDIT_ID){
                //编辑
                doEdit();
            } else {
                //添加
                doAdd();
            }
        })
    }

    function doEdit() {
        //向后台发送请求 (添加的Ajax请求)
        $.ajax({
            url: '/merch/edit/' + '?uid=' + EDIT_ID,
            type: "post",
            data: $("#formAdd").serialize(),
            dataType: "JSON",
            success: function (res) {
                if (res.status) {
                    // 清空表单  $("#formAdd")是jQuery对象 -> $("#formAdd")[0] DOM对象
                    $("#formAdd")[0].reset();
                    // 关闭对话框
                    $('#myModal').modal('hide');
                    //用JS代码实现页面刷新
                    location.reload();
                }else {
                    if (res.tips) {
                        alert(res.tips);
                    } else {
                        $.each(res.error, function (name, error_list) {
                            // console.log(name,data);
                            // res.error是一个字典,如{title:['这个字段是必填项。'],price:['...'],status:['...']}
                            // res.error是要循环的东西,name代表键，error_list代表值
                            $("#id_" + name).next().text(error_list[0]);
                            // modelform生成输入框时，会自动为框生成一个属性，格式为id_+标签的name属性
                            // 在html中事先加入存放错误的标签<span>，并放在输入框的后面,可以用.next()拿到
                        })
                    }
                }
            }
        })
    }


    function doAdd() {
        //向后台发送请求 (添加的Ajax请求)
        $.ajax({
            url: '/merch/add/',
            type: "post",
            data: $("#formAdd").serialize(),
            dataType: "JSON",
            success: function (res) {
                if (res.status) {
                    //alert("添加成功");
                    // 清空表单  $("#formAdd")是jQuery对象 -> $("#formAdd")[0] DOM对象
                    $("#formAdd")[0].reset();
                    // 关闭对话框
                    $('#myModal').modal('hide');
                    //用JS代码实现页面刷新
                    location.reload();
                }else {
                    $.each(res.error, function (name, error_list) {
                        // console.log(name,data);
                        // res.error是一个字典,如{title:['这个字段是必填项。'],price:['...'],status:['...']}
                        // res.error是要循环的东西,name代表键，error_list代表值
                        $("#id_" + name).next().text(error_list[0]);
                        // modelform生成输入框时，会自动为框生成一个属性，格式为id_+标签的name属性
                        // 在html中事先加入存放错误的标签<span>，并放在输入框的后面,可以用.next()拿到
                    })
                }
            }
        })
    }


    function bindBtnDeleteEvent() {
        $(".btn-delete").click(function () {
            //alert("点击了删除");
            // 点击新建按钮，显示对话框。
            $('#DeleteModal').modal('show');
            DELETE_ID = $(this).attr("uid");

        });
    }


    function bindBtnConfirmDeleteEvent(){
        $("#btnConfirmDelete").click(function () {
            $.ajax({
                url: '/merch/delete/',
                type: "GET",
                data: {uid:DELETE_ID},
                dataType: "JSON",
                success: function (res) {
                    if (res.status){
                        location.reload();
                    }else{
                        alert(res.error);
                    }
                }
            })
        });
    }

    function bindBtnEditEvent(){
        $(".btn-edit").click(function () {
            // 每次点击都清空标签上的错误信息
            $(".error-msg").empty();
            // 清空对话框中的数据
            $("#formAdd")[0].reset();
            var uid = $(this).attr("uid");
            EDIT_ID = uid;

            $.ajax({
                url: '/merch/detail/',
                type: "GET",
                data: {uid:uid},
                dataType: "JSON",
                success: function (res) {
                    if (res.status){
                        // 将数据赋值到对话框中的标签中。
                        $.each(res.data, function (name, value) {
                        $("#id_" + name).val(value);
                        })

                        //修改对话框的标题
                        $("#myModalLabel").text("编辑");
                        //点击编辑，显示对话框
                        $('#myModal').modal('show');
                    }else{
                        alert(res.error);
                    }
                }
            })




        });
    }



</script>
{% endblock %}